#product {
  padding: 20px;
}

#pricipal {

  padding: 20px 10px;
  /* border: 1px solid #000; */
  border-radius: 10px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hidden {
    display: block;
  }
}

#changePhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}


@media (max-width: 768px) {
  #changePhotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  #changePhotos .photo {
    margin-right: 10px;
  }
}

#changePhotos .photo {
  cursor: pointer;
  /* background-color: red; */
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  transition: .4s;
}

#changePhotos .photo:hover {
  border-color: #00B9E0;
}

#principalPhoto {
  display: flex;
  flex-direction: column;
  height: 500px;
  /* border: 2px solid #000; */
}

#principalPhoto span {
  border: 2px solid #000;
  border-radius: 10px;
  margin: 10px;
  height: 100%;
  padding: 10px;
}

#configs,
#description,
#questions {
  border-top: 2px solid #000;
  margin-top: 30px;
  padding: 10px;
  /* background-color: blue; */
}

#configs ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#configs ul li {
  margin: 20px 50px;
}

#questions p {
  margin: 30px 0;
}

#questions form textarea:focus {
  box-shadow: none;
}

#secondary {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

#secondary div {
  margin-bottom: 30px;
}

#secondary .price span {
  color: #17b317;
}

#secondary .local i {
  margin-right: 10px;
}

#secondary .local p {
  color: #aaa;
  margin-left: 30px;
}

#secondary .color span {
  font-weight: bold;
}


@media (max-width: 768px) {
  #secondary.hide {
    display: none;
  }
}

@media (max-width: 1202px) {
  #secondary button {
    font-size: 1em;
    padding: 20px 40px;
  }
}