* {
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}


.myBtn {
  background-color: #1d5762;
  color: #fff;
  margin-right: 5px;
}

.myBtn:hover {
  border: 1px solid #1d5762;
  color: #1d5762;
}

.dark-bg-color {
  background-color: #1f1f1f;
}

.dark-secondary-bg-color {
  background-color: #3b3b3b;
}

.primary-bg-color {
  background-color: #005161;
}

.primary-color {
  color: #005161;
}

.secondary-bg-color {
  background-color: #967969;
}

.light-bg-color {
  background-color: #b3adad;
}

.principalBtn {
  border: 1px solid #946C0F;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
}

.principalBtn:hover {
  background-color: #946C0F;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

.specialBtn {
  background-color: #946C0F;
}

.specialBtn:hover {
  border-color: #946C0F;
}

.btnBuy {
  margin: 10px 0;
  cursor: pointer;
  background-color: #1d5762;
  color: #fff;
  padding: 20px 60px;
  align-self: center;
  font-size: 1.2em;
  border: 2px solid transparent;
  transition: .4s;
}

.btnBuy:hover {
  border-color: #1d5762;
  color: #1d5762;
}

.btncart{
  margin: 10px 0;
  cursor: pointer;
  background-color: #1d566218;
  color: #1d5762;
  padding: 20px 40px;
  align-self: center;
  font-size: 1.2em;
  border: 2px solid #1d5762;
  transition: .4s;
}

.btncart:hover {
  border-color: #1d5762;
  background-color: #1d566242;
  color: #000;
}

